body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.pexels.com/photos/13270181/pexels-photo-13270181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
    /* for transition to happen gradually */
}

h1 {
    color: white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover {
    filter: brightness(.9);
}

.active.container {
    filter: blur(5px) brightness(.7);
}

.popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* this brings the container in the middle */
    width: 400px;
    height: 200px;
    top: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    opacity: 1;
    transition: all .7s ;
}

h4 {
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
}

.popup-btn {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border: 2px solid;
}

input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

input::placeholder {
    color: lightgrey;
}

.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover {
    color: lightgrey;
}

.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}